.megamenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #2d2a62;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    /* -webkit-transition-property: background; */
    /* transition-property: background; */
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    opacity: 0.7;
}

.megamenu:hover {
    opacity: 0.8;
}

.container {
    display: flex;
    height: 60px;
    padding-left: 30px;
    margin: auto;
}

.site-logo {
    margin: 0 0 0 -5px;
    padding: 0;
    width: 80px;
    /* background-color: whitesmoke; */
    position: absolute;
    top: 0%;
    right: 0.5%;
}

.site-logo2 {
    margin: 0 0 0 -5px;
    padding: 0;
    width: 303.4px;
    /* background-color: whitesmoke; */
    position: absolute;
    top: 0%;
    left: 0%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

.site-logo {
    margin: 0 0 0 -5px;
    padding: 0;
    width: 60px;
    /* background-color: whitesmoke; */
    position: absolute;
    top: 0%;
    right: 0.5%;
}

.content {
    /* display: flex; */
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    /* border: 2px black solid; */
}

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: large;
    color: wheat;
    list-style: none;
    width: 80%;
    margin-left:100px;
    /* margin-left: 10%; */
}

.li {
    padding-top: 20px;
    height: 60px;
    width: 100%;
    text-align: center;
}

.li:hover {
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
}

.a {
    color: white;
}