.navBar{
    background-color:whitesmoke;
    font-size: large;
    position: absolute;
    border: yellow 2px solid;
    left:20%;
    width: 80%;
    height: 10%;
    top:0;
}

.menu{
    background-color: wheat;
    top:0;
    left:0;
    height: 100%;
    position: absolute;
    font-size: large;
    /* width: 100%; */
}

.content{
    position: absolute;
    left:0%;
    top: 60px;
    height: 100%;
    width: 100%;
    padding: 5%;
    text-align: center;
    border: black 2px solid;
    max-width: 100%;
    max-height: 95%;
}

.img{
    width: 50%;
    background-color: whitesmoke;
    margin: auto;
    border: ridge;
}

.announcement{
    margin-top: 5%;
}
.home{
    text-align: center;
    padding: 100px;
    align-content: center;
    border: 2px solid black;
}